{
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@playwright/test$",
    "<THIRD_PARTY_MODULES>",
    "^@/(fixtures|pages|api|utils|helpers|data)/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["tests/**/*.ts", "specs/**/*.ts", "pages/**/*.ts"],
      "options": { "printWidth": 140 }
    }
  ]
}
